/* styles.css */
.calculator-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(47, 45, 45);
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
}

.calculator-display input {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.calculator-buttons button {
  padding: 15px;
  font-size: 1.2em;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, border-radius 500ms ease-in-out;
}

.calculator-buttons button:hover {
  background-color: #97969c;
  border-radius: 25px;
  mix-blend-mode: difference;
}

.calculator-buttons button:last-child {
  grid-column: span 2;
}

.result {
  font-size: 2.5em;
  background-color: rgb(0, 89, 4);
  border-radius: 25px;
}
