.monthContainer {
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  width: 55vw;
  justify-content: center;
}

.column {
  padding: 16px; /* Ajusta el padding según sea necesario */
  border: 1px solid #ccc; /* Añade un borde para distinguir las columnas */
}

.spendTableCell {
  height: 50vh;
}

@media screen and (max-width: 1500px) {
  .monthContainer {
    gap: 3px;
    width: 47vw;
  }
  .column {
    padding: 3px; /* Ajusta el padding según sea necesario */
  }
}

@media screen and (max-width: 1220px) {
  .monthContainer {
    grid-template-columns: 1fr;
    width: 90vw;
  }
}
